@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --bs-success-rgb: 56, 158, 13;
}

body {
    overflow-y: scroll;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}

/* Alias for .text-capitalize */
.tc {
    text-transform: capitalize !important;
}

/* Capitalize first letter */
.sc::first-letter {
    text-transform: capitalize !important;
}

/* Password Strength Meter for forms */
.register-password-strength-level-box {
    background-color: #C5C8CB;
    height: 8px;
    margin-bottom: .5rem;
}

.danger-icon {
    --fa-primary-color: #fdd551;
    --fa-secondary-color: #ff0000;
    --fa-secondary-opacity: 0.7;
}

.brand {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;

    color: #444CE7;
    background-color: #EEF4FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    height: 40px;
    width: 40px;
    border-radius: 200px;
    margin: 0px 12px;
}

.profile-image {
    border-radius: 200px;
}

/* React datatables */

.rdt_Table {

}

. rdt_TableRow {
    min-height: 72px;
    border-left: 1px solid #E4E7EC;
    border-right: 1px solid #E4E7EC;
}

.rdt_TableHeadRow {
    background-color: #F9FAFB;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #344054;
    border-top: 1px solid #E4E7EC;
}

.rdt_TableCell {
    padding-left: 8px;
    padding-right: 8px;
}

. rdt_TableCol {

}

. rdt_TableCol_Sortable {

}

rdt_TableHeader
rdt_TableFooter
rdt_TableHead
rdt_TableHeadRow
rdt_TableBody
rdt_ExpanderRow
    /* SideNav */
.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.menu .btn-toggle, .menu a.nav-link {
    display: flex;
    width: 100%;
    padding: .25rem .5rem;
    font-weight: 550;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border-radius: var(--bs-border-radius);
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.menu .nav-link:hover {
    background-color: rgba(var(--bs-primary-rgb), .7);
}

.menu .icon-link i {
    --fa-primary-color: var(--bs-primary);
    --fa-secondary-color: #000;
    --fa-secondary-opacity: .2;
}

.menu .icon-link.active i {
    --fa-primary-color: white;
    --fa-secondary-color: var(--bs-primary-text-emphasis) !important;
    --fa-secondary-opacity: .8;
}

.menu .nav-link.active,
.menu .btn-toggle.active {
    color: white;
    background-color: var(--bs-primary);
}

.menu .submenu .nav-link {
    font-size: .9rem;
}

.menu .nav-link:hover,
.menu .nav-link:focus,
.menu .btn-toggle:hover,
.menu .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    color: white;
    background-color: rgba(var(--bs-primary-rgb), .7);
}

.menu .nav-link:hover i,
.menu .nav-link:focus i,
.menu .btn-toggle:hover i,
.menu .btn-toggle:focus i {
    --fa-primary-color: var(--bs-light) !important;
    --fa-secondary-color: var(--bs-primary-text-emphasis) !important;
    --fa-secondary-opacity: .8 !important;
}

.btn-toggle::after {
    width: 1.25em;
    margin-left: auto;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 11l3-3-3-3'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.pointer {
    cursor: pointer;
}

.task-list .nav-item {
    transition: all .375s ease-in-out;
}

.task-list .nav-item.active {


}

.task-list .nav-item:hover {
    background-color: #cfe2ff;
}

.border-1_5 {
    border-width: 1.5px !important;
}
